<template>
    <div class="diagram" :id=id>
    </div>
</template>

<script>
    import AdjacencyMatrixSpec from '../vega-spec/adjacency-matrix.v.json'
    import embed from 'vega-embed'

    export default {
        name: "AdjacencyMatrix",
        props: ["data", "id", "colorEdges", "colorNodes"],

        data() {
            return {
                spec: {}
            }
        },
        watch: {
            spec(v) {
                if (v) this.draw()
            },
            data(v) {
                if (v) {
                    this.load(v)
                    this.draw()
                }
            },
            colorEdges() {
                this.load(this.data)
            },
            colorNodes() {
                this.load(this.data)
            }

        },
        mounted: function () {
            this.load(this.data)
        },
        methods: {
            async draw() {
                await embed('#' + this.id, this.spec, {actions: false})
            },
            load(v) {
                let spec = AdjacencyMatrixSpec
                spec["data"] = [
                    {
                        "name": "node-data",
                        "values": v.nodes,
                        "transform": [
                            {
                                "type": "formula", "as": "order",
                                "expr": "datum.NodeType"
                            },
                            {
                                "type": "formula", "as": "score",
                                "expr": "dest >= 0 && datum === src ? dest : datum.order"
                            },
                            {
                                "type": "window", "sort": {"field": "score"},
                                "ops": ["row_number"], "as": ["order"]
                            }
                        ]
                    },
                    {
                        "name": "link-data",
                        "values": v.edges,
                        "transform": [
                            {
                                "type": "lookup", "from": "node-data", "key": "NodeID",
                                "fields": ["Source", "Target"], "as": ["sourceNode", "targetNode"]
                            },
                            // {
                            //     "type": "formula", "as": "group",
                            //     "expr": "datum.sourceNode.NodeType === datum.targetNode.NodeType ? datum.sourceNode.NodeType : count"
                            // }
                        ]
                    },
                    {
                        "name": "cross",
                        "source": "node-data",
                        "transform": [
                            {"type": "cross"}
                        ]
                    }
                ]
                if (!this.colorEdges) {
                    spec["scales"][0]["range"]["scheme"] = "greys"
                }
                if (!this.colorNodes) {
                    spec["scales"][1]["range"]["scheme"] = "greys"
                }
                this.spec = spec
            }
        }
    }

</script>

<style>

</style>
