<template>
    <div class="diagram" :id=id>
    </div>
</template>

<script>
    import BarChartSpec from '../vega-spec/bar-chart.v.json'
    import embed from 'vega-embed'

    export default {
        name: "BarChart",
        props: ["data", "id"],
        data() {
            return {
                spec: {}
            }
        },
        watch: {
            spec(v) {
                if (v) this.draw()
            },
            data(v) {
                this.load(v)
                this.draw()
            }
        },
        mounted: function () {
            this.spec = JSON.parse(JSON.stringify(BarChartSpec)) // Clone
            this.load(this.data)
        },
        methods: {
            async draw() {
                await embed('#' + this.id, this.spec, {actions: false})
                    .catch(err => console.error(err))

            },
            load(v) {
                if (!v) return;
                this.spec["data"][0]["values"] = v
            }
        }
    }
</script>

<style scoped>

</style>
